<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="min-height: 588px;" class="no-copy-paste">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="shortcut icon" href="../img/header_logo.jpg">
<title>Adver</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css"
	href="../css/datatables/dataTables.responsive.css">
<link rel="stylesheet" type="text/css"
	href="../css/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="../css/skins/_all-skins.min.css">
<link rel="stylesheet" type="text/css" href="../css/AdminLTE.css">
<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
<link rel="stylesheet" type="text/css" href="../css/custom/overlay.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body class="skin-blue fixed pace-done" style="min-height: 588px;">
	<% include static/header.htm %>
	<% include static/overlay.htm %>
	<div class="wrapper row-offcanvas row-offcanvas-left"
		style="min-height: 268px;">
		<% include static/leftPanel.htm %>
		<aside class="right-side"> <section class="content-header">
		<br />
		<h1>Contact Us</h1>
		<div id="message" class="error hide"></div>
		</section> <section class="content">
		<div class="box box-danger" id="loading-example">

			<div class="row">
				<div class="col-md-6">
					<div class="box box-default">
						<div class="box-body">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<p>We are here to answer your questions you may have about
											using Adver Trade. Please reach out to us.</p>
										<p>Let us know and we promise we'll do our best to serve
											you.</p>
										<br />

										<form action=/contact  method="post">
										<input name="action" type="hidden" value="submit">
											<div class="form-group has-feedback">
												<input type="text" name="name" id="name"
													class="form-control" placeholder="Name" value=<%= user %> readonly /> <span
													class="glyphicon glyphicon-user form-control-feedback"></span>
											</div>
											<div class="form-group has-feedback">
												<input type="text" name="email" id="email"
													class="form-control" placeholder="Email" value=<%= email %> readonly /> <span
													class="glyphicon glyphicon-envelope form-control-feedback"></span>
											</div>
											<div class="form-group has-feedback">
												<input type="text" name="subject" id="subject"
													class="form-control" placeholder="Subject" /> <span
													class="glyphicon glyphicon-tags form-control-feedback"></span>
											</div>
											<div class="form-group has-feedback">
												<textarea class="form-control" rows="5"
													name="message" id="message" placeholder="Message ..."></textarea>
												<span
													class="glyphicon glyphicon-pencil form-control-feedback"></span>
											</div>
											<input type="submit" class="btn bg-maroon btn-block"
												value="Send Email" id="btnEmail"/>
										</form>

										<% if (message.length > 0) { %>
                  <p><%= message %></p>
                  <% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="box box-default">
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="info-box">
										<span class="info-box-icon bg-aqua"> <img
											src="../img/rohit-avatar.png" class="avatar-img-sm"
											alt="User Avatar">
										</span>

										<div class="info-box-content">
											<span class="info-box-number">ROHIIT PATIL</span> <br /> <span
												class=""><i class="glyphicon glyphicon-envelope"></i>
												&nbsp;&nbsp;&nbsp;<a href="mailto:rnpatil@indiana.edu">rnpatil@indiana.edu</a></span>
											&nbsp;&nbsp;&nbsp;&nbsp;<span class=""><i
												class="glyphicon glyphicon-earphone"></i> &nbsp;&nbsp;&nbsp;<a
												href="tel:+1-812-369-5416">+1 (812) 349-8122</a></span>

										</div>
										<!-- /.info-box-content -->
									</div>

									<div class="info-box">
										<span class="info-box-icon bg-aqua"> <img
											src="../img/amruta-avatar.png" class="avatar-img-sm"
											alt="User Avatar">
										</span>

										<div class="info-box-content">
											<span class="info-box-number">AMRUTA KAMAT</span> <br /> <span
												class=""><i class="glyphicon glyphicon-envelope"></i>
												&nbsp;&nbsp;&nbsp;<a href="mailto:arkamat@indiana.edu">arkamat@indiana.edu</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
											<span class=""><i class="glyphicon glyphicon-earphone"></i>
												&nbsp;&nbsp;&nbsp;<a href="tel:+1-812-369-5416">+1 (812)
													361-6483</a></span>

										</div>
										<!-- /.info-box-content -->
									</div>

									<div class="info-box">
										<span class="info-box-icon bg-aqua"> <img
											src="../img/ajinkya-avatar.jpg" class="avatar-img-sm"
											alt="User Avatar">
										</span>

										<div class="info-box-content">
											<span class="info-box-number">AJINKYA DHAMNASKAR</span> <br />
											<span class=""><i class="glyphicon glyphicon-envelope"></i>
												&nbsp;&nbsp;&nbsp;<a href="mailto:adhamnas@indiana.iu.edu">adhamnas@indiana.iu.edu</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
											<span class=""><i class="glyphicon glyphicon-earphone"></i>
												&nbsp;&nbsp;&nbsp;<a href="tel:+1-812-369-5416">+1 (812)
													369-5416</a></span>

										</div>
										<!-- /.info-box-content -->
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section> </aside>

	</div>

	<% include static/footer.htm %>

	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../js/plugins/datatables/jquery.dataTables.js"></script>
	<script type="text/javascript"
		src="../js/plugins/datatables/dataTables.responsive.js"></script>
	<script type="text/javascript"
		src="../js/plugins/datatables/dataTables.bootstrap.js"></script>
	<script type="text/javascript"
		src="../js/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="../js/AdminLTE/app.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/custom/monitorJob.js"></script>

	<script type="text/javascript"
		src="../js/custom/detectmobilebrowser.js"></script>
</body>
</html>
