	<div class="overlay connectedSortable hide"></div>
	<div id="editAd" class="editAd overlay-body connectedSortable hide">
		<div class="file-name-header adjust-header-text">
			<div class="row popup-header-text">
				<div class="col-md-12">
					<button id="close"
						class="btn btn-left btn-primary btn-group btn-action-margin-left info"
						data-placement="bottom" title="Close">
						<i class="fa fa-long-arrow-right"></i>
					</button>
					<label class="vertical-align-bottom overlay-header">Ad Details</label>
				</div>
				<hr>
				<form class="navbar-form1" id="submitad" action="/postad"
					method="post">

					<div class="box-body">
						<div class="fileupload-buttonbar">
							<div class="col-sm-12">

								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">

											<label>Ad Title :</label> <input type="text"
												class="form-control validation-field" name="title"
												id="edTitle" placeholder="Enter" required>
										</div>
										<div class="form-group">

											<label>Price :</label> <input type="text"
												class="form-control validation-field" name="price"
												id="edPrice" placeholder="Enter" required>
										</div>

										<div class="form-group">
											<label>Category</label> <select class="form-control"
												name="category" id="edCategory" placeholder="Select JobType">
												<% categories.forEach(function(category) { %>
								            <option value = '<%= category["category"]["name"] %>'><%= category["category"]["name"] %></option> 
								        <% }); %>
											</select>
										</div>

										<div id="uploadimg" class="row">
											<div class="col-sm-3">
												<div class="form-group">
													<input type="file" name="file" required/>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Ad Description:</label>
											<!-- <input type="text" -->
											<!-- class="form-control" name="jobType" id="jobType" placeholder="Enter"> -->
											<textarea id="edDescription" rows="5" type="text"
												name="description" ng-model="ad.description"
												placeholder="Enter Description .." ng-maxlength="1500"
												class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" required></textarea>
										</div>
										<div class="form-group">
											<div class="validation-message error hide"></div>
										</div>
									</div>
								</div>



								<button type="submit" class="btn btn-primary start">
									<i class="icon-upload icon-white"></i> <span>Submit Ad</span>
								</button>

							</div>
							<br>
							<div class="fileupload-progress">
								<div class="box-body no-padding">
									<div class="bulk-upload-row">
										<div class="col-sm-12">
											<div role="presentation" id="fileupload-tables">
												<div class="files" data-toggle="modal-gallery"
													data-target="#modal-gallery"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<span id="message"></span>
		</div>
		<br />

	</div>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../js/plugins/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript"
		src="../js/plugins/datatables/jquery.dataTables.js"></script>
	<script type="text/javascript"
		src="../js/plugins/datatables/dataTables.responsive.js"></script>
	<script type="text/javascript"
		src="../js/plugins/datatables/dataTables.bootstrap.js"></script>
	<script type="text/javascript"
		src="../js/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="../js/AdminLTE/app.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/custom/monitorJob.js"></script>
	<script type="text/javascript" src="../js/custom/encrypt.js"></script>

	<script type="text/javascript"
		src="../js/custom/detectmobilebrowser.js"></script>
</body>
</html>