<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="shortcut icon" href="../img/header_logo.jpg">
<title>Adver</title>
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport'>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="../css/dashboard.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.10.3.min.js"></script>	
<script type="text/javascript" src="../js/custom/detectmobilebrowser.js"></script>
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>

<script type="text/javascript" src="../js/MD5.js" ></script>
<script type="text/javascript" src="../js/common.js"></script>
<script src="../js/custom/login.js" type="text/javascript"></script>

</head>


<body class="login-page" >
    <div class="login-box">
      <div class="login-logo">
        <img src="../img/header_logo.jpg" class="logo-dimensions" alt="Logo Image" /> <!-- Add the class icon to your logo image or logo icon to add the margining -->
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        
        <form name="loginform" action="/login" method="post" id="login-form">        
			<div class="body">
				<div class="form-group has-feedback">
		            <input type="text" name="username" id="username" class="form-control" placeholder="User ID" required/>
		            <span class="glyphicon glyphicon-user form-control-feedback"></span>
	          	</div>
				<div class="form-group has-feedback">
		            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required/>
		            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	          	</div>
			</div>
			
			<div class="footer">
				<button type="submit" class="btn bg-maroon btn-block" id="loginSubmit">Sign me in</button>
				<span class="error" id ="error"></span>
				<br/>
				<a href="/registration" class="text-center">Sign Up</a>
				<div class="footer">
					<div>Copyright &copy; 2016 AdverTrade</div>
				</div>
			</div>
			
		</form>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</body>
</html>