<aside class="main-sidebar">
	<section class="sidebar">
		<form action="fileListing.htm" method="post">
			<ul class="sidebar-menu">

				<li><a href="#"
					class="open-overlay"> <i class="fa fa-arrows-alt open-overlay"></i>
						<span>Post Ads</span>
				</a></li>
				<li><a href="/browseAll" id="corporateView"> <i
						class="fa fa-th-large"></i> <span>Browse Ads</span>
				</a></li>
				<li><a href="/managead" id="manageView"> <i
						class="fa fa-user"></i> <span>Manage My Ads</span>
				</a></li>
				<li><a href="/contact" id="groupManagementView"> <i
						class="fa fa-sitemap"></i> <span>Contact Us</span>
				</a></li>
				<li><a href="/about" id="authorizationMatrix"> <i
						class="fa fa-table"></i> <span>About</span>
				</a></li>
				<!-- <li><a href="change-password.htm" id="changePasswordView">
						<i class="fa fa-key"></i> <span>Change Password</span>
				</a></li>

				<li><a href="showDownloadFilePage.htm"
					id="DownloadFilePageView"> <i class="fa fa-download"></i> <span>Download
							File</span>
				</a></li>
				<li><a href="change-password.htm" id="changePasswordView">
						<i class="fa fa-key"></i> <span>Change Password</span>
				</a></li>

				<li><a href="javascript:;"
					onclick="postLink('fileListing.htm');" id="dashboardView"> <i
						class="fa fa-file"></i> <span>File View</span>
				</a></li>
				<li><a href="javascript:;"
					onclick="postLink('fileAuthorization.htm');" id="fileAuthView">
						<i class="fa fa-file"></i> <span>Authorize File</span>
				</a></li> -->


			</ul>
		</form>
	</section>
</aside>