	<div class="overlay connectedSortable hide"></div>
	<div class="overlay-body connectedSortable hide">
		<div class="file-name-header adjust-header-text">
			<!-- <div class="tab-close">
				<i class="btn-close fa fa-angle-right"></i>
			</div> -->
			<div class="row popup-header-text">
				<div class="col-md-12">
					<button id="close"
						class="btn btn-left btn-primary btn-group btn-action-margin-left info"
						data-placement="bottom" title="Close">
						<i class="fa fa-long-arrow-right"></i>
					</button>
					<label class="vertical-align-bottom overlay-header">Post Ad</label>
				</div>
				<hr>
				<form class="navbar-form1" enctype="multipart/form-data" id="submitad" action="/postad"
					method="post">
					<input type="hidden" id="id" name="id"/>
					<div class="box-body">
						<div class="fileupload-buttonbar">
							<div class="col-sm-12">

								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">

											<label>Ad Title :</label> <input type="text" pattern=".{3,}"
												class="form-control validation-field" name="title"
												id="adTitle" placeholder="at least 3 character long" maxlength="50" required>
										</div>
										<div class="form-group">

											<label>Price :</label> <input type="number"
												class="form-control validation-field" name="price"
												id="price" placeholder="numeric" required>
										</div>

										<div class="form-group">
											<label>Category</label> <select class="form-control"
												name="category" id="category" placeholder="Select JobType">
												<% categories.forEach(function(category) { %>
								            <option value = '<%= category["category"]["name"] %>'><%= category["category"]["name"] %></option> 
								        <% }); %>
											</select>
										</div>

										<div id="uploadimg" class="row">
											<div class="col-sm-3">
												<div class="form-group">
													<input type="file" name="file" id="file"/>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Ad Description:</label>
											<textarea id="description" rows="5" type="text"
												name="description" ng-model="ad.description" ng-maxlength="1500"
												class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" required></textarea>
										</div>

										<div class="form-group">
											<div class="validation-message error hide"></div>
										</div>
									</div>
								</div>



								<button type="submit" class="btn btn-primary start submitOverlay">
									<i class="icon-upload icon-white"></i> <span>Submit Ad</span>
								</button>
								
								<button type="submit" class="btn btn-primary start editOverlay">
								<i class="icon-upload icon-white"></i> 	<span>Edit Ad</span>
								</button>

							</div>
							<br>
						</div>
					</div>
				</form>
			</div>
			<span id="message"></span>
		</div>
		<br />

	</div>